aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
docker==7.1.0
exceptiongroup==1.2.2
fastapi==0.112.0
frozenlist==1.4.1
greenlet==3.0.3
h11==0.14.0
idna==3.7
iniconfig==2.0.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.13
langchain-core==0.2.30
langchain-text-splitters==0.2.2
langsmith==0.1.99
Mako==1.3.5
MarkupSafe==2.1.5
multidict==6.0.5
numpy==1.26.4
orjson==3.10.7
packaging==24.1
pluggy==1.5.0
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic_core==2.20.1
pytest==8.3.2
pytest-alembic==0.11.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
sniffio==1.3.1
SQLAlchemy==2.0.32
starlette==0.37.2
tenacity==8.5.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.5
yarl==1.9.4
